{% load static %}
  <!-- start section services -->
  <div id="services" class="bg-dark">
    <div class="container">

      <div class="services-carousel owl-theme p-5 ">

        <div class="services-block">

          <i class="ion-ios-browsers-outline"></i>
          <span>UI/UX DESIGN</span>
          <p class="separator"> As an UI-UX Designer, Responsible for collecting, researching, investigating and
            evaluating user requirements. My responsibility is to deliver an outstanding user experience providing an
            exceptional and intuitive application design. </p>

        </div>

        <div class="services-block">

          <i class="ion-ios-color-wand-outline"></i>
          <span>WEB DESIGN</span>
          <p class="separator">As a web designer creates the look, layout, and features of a website. The job involves
            understanding both graphic design and computer programming. ... They work with development teams or managers
            for keeping the site up-to-date and prioritizing needs, among other tasks.</p>

        </div>

        <div class="services-block">

          <i class="ion-code-working"></i>
          <span>WEB DEVELOPMENT</span>
          <p class="separator"> As a Web Developer, responsible for the coding, design and layout of a website according
            to a company's specifications. As the role takes into consideration user experience and function, a certain
            level of both graphic design and computer programming is necessary.
          </p>

        </div>

        <div class="services-block">

          <i class="ion-ios-analytics-outline"></i>
          <span>Analytics</span>
          <p class="separator">As a Web Analysts, responsible for analyzing, maintenance and web development costs. The
            ay also be responsible for decision making based on staffing, purchasing of equipment and new technologies
            related to deployment of websites and web development. </p>

        </div>

        <div class="services-block">

          <i class="ion-ios-camera-outline"></i>
          <span>PHOTOGRAPHY</span>
          <p class="separator">As a Photographer, responsible for took creative photos, using a blend of technical
            skills and an artistic eye to take pictures of people, places, landscapes, food, you name it. Photographers
            can work as fine artists, </p>

        </div>

      </div>

    </div>

  </div>
  <!-- end section services -->